*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#container{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: black;
  display: none;
}
#sconfitta, #vittoria{
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  }
  img{
    width: 60%;
  }
